
<div class="content">
    <div class="row">
        <div class="col s3"></div>
        <div id="containerone">
            <div class="col s6">
                <div class="frosty">
                  <div class="row module">  
                    <form method="post" action="/createfc" class="form-signin">
                        <h5 class="form-signin-heading">Create a flashcard</h5>
                            <div id ="name">
                                <div class="input-field" >
                                      <input placeholder="Enter your set name here" id="first_name" list="sets" name="category" type="text">
                                      <label for="first_name">Name of Set</label>                              {{#if sets}}
                                          <datalist id="sets">
                                            {{#each sets}}
                                              <option value="{{set}}">
                                            {{/each}}
                                          </datalist>
                                        {{/if}}
                                </div> 
                            </div>
                      
                            <div id="inputfront">
                              <div class="input-field">
                                <textarea id="textarea1" class="materialize-textarea" name="title"></textarea>
                                <label for="textarea1">Enter Your Flashcard Question</label>
                              </div>
                            </div>
                        
                            <div id="inputback">
                                <div class="input-field">
                                  <textarea id="textarea2" class="materialize-textarea" name="flashcard_body"></textarea>
                                  <label for="textarea2">Enter Your Flashcard Answer</label>
                                </div>
                            </div>

                        <div class="button">
                            <button class="btn waves-effect waves-light #e57373 red lighten-2" type="submit" name="action">Submit
                              <i class="material-icons right">send</i>
                            </button>
                        </div>

                    </form>
                  </div> {{!-- /row module --}}
                </div> {{!-- /frosty --}}
            </div> {{!-- /col -6s--}}
        </div> {{!--containerone--}}
        <div class="col s3"></div>
    </div>
</div>
