<div class="jumbotron">
            <form method="post" action="/" class="form-signin">
                <h2 class="form-signin-heading">Create a flashcard</h2>
                <label for="category" class="sr-only">Category</label>
                <input type="text" name="category" id="category" class="form-control" placeholder="Category" required autofocus>
                <label for="title" class="sr-only">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Title" required autofocus>
                <label for="description" class="sr-only">Description</label>
                <input type="text" name="flashcard_body" id="flashcard_body" class="form-control" placeholder="Description" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

            <div class="flashcards">
                {{#if flashcards}}

                
                <ul>
                    {{#each flashcards}}
                        <li>
                            <p>Cathegory: {{this.Cathegory}}</p>
                            <p>Title: {{this.Title}}</p>
                            <p>Description: {{this.Body}}</p>
                        </li>
                    {{/each}}
                </ul>

                {{/if}}
             </div>
</div>
