
<div class="content">
    <div class="row">
        <div class="col s3"></div>
        <div id="containerone">
            <div class="col s6">
                <div class="frosty">
                    <div class="row module">
                        <form method="post" action="/login" class="form-signin">
                            <h5 class="form-signin-heading">Please sign in</h5>
                            <input type="text" name="username" id="login_username" class="form-control" placeholder="Username">
                            <input type="password" name="password" id="login_password" class="form-control" placeholder="Password">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>