<div class="content">
    <div class="row">
        <div class="col s3">
            {{#if errors}}
                        {{#each errors}}
                            <div class="alert alert-danger" role="alert">
                                {{msg}}
                            </div>
                        {{/each}}
            {{/if}}
        </div>
        <div id="containerone">
            <div class="col s6">
                <div class="frosty">
                    <div class="row module">
                        {{#if errors}}
                            {{#each errors}}
                                <div class="alert alert-danger" role="alert">
                                    {{msg}}
                                </div>
                            {{/each}}
                        {{/if}}
                        
                        <form method="post" action="/register" class="form-horizontal" role="form">

                                <h5 class="form-signin-heading">Registration Form</h5>
                                <input type="text" id="username" placeholder="Username" name="username" class="form-control" autofocus>
                                <input type="password" id="password" placeholder="Password" name="password" class="form-control">
                                <input type="password" id="password_confirm" placeholder="Confirm password" name="conf_password" class="form-control">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                            
                        </form> <!-- /form -->
                    </div> <!-- ./div frosty -->
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>